@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/bannerimage.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.info {
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 20%;
}

h2 {
  color: #fff;
  font-family: lato;
  font-size: 30px;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 130px;
  font-weight: 900;
  line-height: 95px;
}

p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.off-day {
  display: inline;
  text-align: center;
}

.off-day h1 {
  padding-top: 100px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 50px;
}

.off-day p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.off-day h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-pic {
  padding-bottom: 50px;
}

.banner {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/vectorrr.png");
  background-repeat: no-repeat;
  width: 100% 100%;
  background-size: cover;
}

.banner-content {
  display: flex;
}

.banner-section {
  padding-top: 80px;
}

.banner .banner-title h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 120px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-bottom: 24px;
  text-align: left;
  margin: 128px auto 24px 128px;
}

.banner .banner-title p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0px auto 24px 128px;
}

.banner .banner-title h6 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 200px;
}

.banner .banner-content img {
  display: flex;
  width: 300px;
  height: 500px;
  padding: 0.008px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 100px 200px 20px 0px;
}

/* Join Party Section */

.meet-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  width: 1500px;
  height: 500px;
}

.meet-section .meet-place p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
}

.meet-description {
  padding: 100px 386px 20px;
}

.red-color {
  color: #f00;
}

button {
  border-radius: 8px;
  background: #f00;
}

.black-color {
  color: black;
}

.meet-section .meet-place .join-btn {
  display: block;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  border: none;
}

/* Holiday Sales */

.holi-day {
  background: #fff;
  display: inline;
}

.holi-day .holi-text {
  text-align: center;
}

.holi-day .holi-text h6 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 10px;
}

.holi-day .holi-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: 50px;
}

/* Image section */

.holi-day .holiday-off {
  background: url("./resources/rectangle1.png");
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 40px;
}

.discount{
  position: relative;
}

.discount .discount-container {
  display: flex;
}

.gift-box {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 75px;
}

.discount-img{
  width: 210px;
  height: 210px;
  margin: 200px 0px 0px 975px;
}

.footer-img {
  width: 1500px;
  height: 200px;
  margin-top: 28px;
}

.discount > img{
  align-items: center;
}