@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/bannerimage.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.info {
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 20%;
}

h2 {
  color: #fff;
  font-family: lato;
  font-size: 30px;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.off-day {
  display: inline;
  text-align: center;
}

.off-day h1 {
  padding-top: 100px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 50px;
}

.off-day p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.off-day h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-pic {
  padding-bottom: 50px;
}

.banner {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/vectorrr.png");
  background-repeat: no-repeat;
  width: 100% 100%;
  background-size: cover;
}

.banner-section {
  padding-top: 100px;
}

.banner-content {
  display: flex;
  padding-top: 50px;
}

.banner h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.banner p {
  max-width: 800px;
}

.banner title {
  display: inline;
}

.banner{
  height: auto;
}